@use 'config/reset';
@use 'config/variaveis';
@use 'sass:math'; //acresentamos esse comando para poder usar a função de conversão. 

@mixin elementoForm() {
    padding: 8px;
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

// Função para calcular e transformar PIXEL em EM
@function pixelParaEm($alvoEmPixel, $contextoEmPixel: 16px) {
    @return math.div($alvoEmPixel, $contextoEmPixel)+em;
}

body {
    background-color: variaveis.$corFundo;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 16px 0;
    background-color: variaveis.$corPrincipal;
    text-align: center;
    color: #fff;
}


.form-container {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 760px;

    h2 {
        font-size: pixelParaEm(48px); //Como ja foi passado o valor padrao de 16px que é o tamanho da font do form, nao é nessesario colocar (48, 16)
        text-align: center;
    }


    form {
        width: 100%;
        max-width: 480px;
        margin-top: 40px;

        label {
            font-weight: bold;
            cursor: pointer;
        }

        input {
            @include elementoForm();
            background-color: transparent;
            border: none;
            border-bottom: 3px solid variaveis.$corPrincipal;
        }

        button {
            @include elementoForm();
            background-color: variaveis.$corSecundaria;
            font-size: 18px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            color: #fff;

            &:hover { // este comando alterar estelização do botao apos apertar
                background-color: darken(variaveis.$corSecundaria, 10%); // este comando vai escurecer a cor do botao apos apertar, escurecendo a % que foi inserida
            // Podemos usar no lugar do Darken a função LIGHTEN para que o a cor fique mais clara conforme a % escolhida, apos apertar o botao
            }
        }
    }
}

@media screen and (max-width: variaveis.$mobile) { // Usamos a variavel $mobile que atribuimos o valor 767px no arquivo variaveis.scss
    .container {
        max-width: 80%;
    }


    
}